
<section class="main-container">
  <div>
    <button class="btn" mat-button mat-stroked-button routerLink="/characters" routerLinkActive="activee">character</button>
  <button class="btn" mat-button mat-stroked-button routerLink="/episodes" routerLinkActive="activee">episodes</button>
  <button class="btn" mat-button mat-stroked-button routerLink="/locations" routerLinkActive="activee">locations</button>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label class="formfield">please enter your BVN</mat-label>
      <input type="text" matInput/>
    </mat-form-field>
  </div>
  
 
</section>
<router-outlet></router-outlet>
